version: '3.8'
services:
  postgres:
    image: postgres:16.11
    container_name: postgres
    restart: always
    ports:
      - '5432:5432'
    env_file:
      - .env
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=dev
      - POSTGRES_DB=be-febe
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
    name: feladatsor-db
